
{% extends "base.html" %}
{% block content %}

<section class="about">
    <h2>About This Site</h2>
    <p>
        The Mood Analyser is an interactive platform designed to understand<br>
        your emotions and respond in a positive, engaging way. By analyzing your<br>
        current mood, the site provides personalized quotes, plays mood-based<br>
        background music, and offers simple games to help you relax, refresh,or recharge.
    </p>

    <div class="cards-3d">
        <div class="info-card">⚡ Mood Games</div>
        <div class="info-card">🎨 Play & Relax</div>
        <div class="info-card">📱 Fun Break</div>
        <div class="info-card">🔥 Refresh Zone</div>
    </div>
</section>
{% endblock %}